@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Texturina', serif;
}

header {
    background: url("Login0.jpg");
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}


header .logo img{
    width: 15%;
    height: 15%;
    padding: 20px;
}

header .homepage {
    background-color:none;
    overflow: hidden;
  }
  header .homepage a{
    float: right;
    color:#fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Andale Mono, monospace;
}
header .homepage a:hover{
    background: #A9A9A9;
    color: #000000;
}
header .homepage a.active{
    background-color: #A9A9A9;
    color: white;
}


section {
    position: relative;
    min-height: 100vh;
    background:#FAEBD7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #d8be9d;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container .user .imgBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: #d8be9d;
    transition: 0.5s;
}

section .container .user .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .user .formBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: #d8be9d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

section .container .user .formBox form h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

section .container .user .formBox form input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

section .container .user .formBox form input[type="submit"] {
    max-width: 100px;
    background: #65472d;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .container .user .formBox form input[type="button"] {
    max-width: 100px;
    background: #65472d;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .container .user .formBox .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400px;
}

section .container .user .formBox .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #0d3172;
}

section .container .SignUpBox {
    pointer-events: none;
}

section .container.active .SignUpBox {
    pointer-events: initial;
}

section .container .SignUpBox .formBox {
    left: 100%;
}

section .container.active .SignUpBox .formBox {
    left: 0;
}

section .container .SignUpBox .imgBox {
    left: -100%;
}

section .container.active .SignUpBox .imgBox {
    left: 0;
}

section .container .SignBox .formBox {
    left: 0;
}

section .container.active .SignBox .formBox {
    left: 100%;
}

section .container .SignBox .imgBox {
    left: 0;
}

section .container.active .SignBox .imgBox {
    left: -100%;
}

.card{
    cursor: pointer;
    width: 180px;
    height: 320px;
  }
  .front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
  }
  .front img{
    height: 100%;

  }
  .front{
    transform: perspective(600px) rotateY(0deg)
  }
  .back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
  }
  .back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
  }
  .sm{
    margin: 20px 0;
  }
  .sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;

  }
  .sm a:hover{
    background: #2c3e50;
    color: white;
  }
  .card:hover>.front{
    transform: perspective(600px) rotateY(-180deg)
  }
  .card:hover>.back{
    transform: perspective(600px) rotateY(0deg)
  }
  .left{
      position: absolute;
      top: 52%;
      left: 10%;
      transform: translate(-50%,-50%);
  }
  .right{
    position: absolute;
    top: 52%;
    left: 90%;
    transform: translate(-50%,-50%);
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }